.git/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
*.project
*.classpath
*.springBeans
*.springWebflow
.factorypath
.settings/
.apt_generated/
target/
test-output/
classes/

group-dt-ftp-service/

*.log.*
*.log
.idea/

/*.js
/*.js.map
*.iml